<header>
  <img class="logo" src="../../assets/Logo.png">
  <p class="heading">Twit creation page</p>
  <button class="button-profile" routerLink="/profile">Back to profile</button>
</header>
<div class="twit-creation">
  <mat-form-field class="tags-input" floatLabel="never" color="none" f>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="Input tag"
             [(ngModel)]="currentTag"
             [matAutocomplete]="autocomplete"
             (ngModelChange)="onInput()"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="[enterCode]"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #autocomplete (optionSelected)="selected($event)">
      <mat-option *ngFor="let tag of availableTags">
        {{tag.body}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <textarea class="twit-body-input" placeholder="Share your opinion" [(ngModel)]="body"></textarea>
  <button type="submit" class="button-post" (click)="(!isRefactoring) ? postTwit() : updateTwit()">Publish</button>
</div>
