<html>
  <body>
    <header>
      <img class = "logo" src="../../assets/Logo.png">
      <input class="input-field" placeholder="Find your topic">
      <button class="button my-profile"><p class="button-text">Andrei</p></button>
      <button class="button log-out"><p class="button-text">Log out</p></button>
      <button class="button menu" (click)="showFilters = !showFilters"><i class="material-icons menu icon" >keyboard_arrow_down</i></button>
      <div class="filtration" *ngIf="showFilters">
        <label class="user-name-filter">User name<input type="text" placeholder="name" class="user-name-filter input"></label>
        <label class="date-from-filter">Date from:<input type="text" placeholder="02 03 2020" class="date input"></label>
        <label class="date-to-filter">Date to:<input type="text" placeholder="02 03 2020" class="date input"></label>
      </div>
    </header>

    <div class="context">
      <div *ngFor="let twit of twits">
      <div class="twit">
        <app-twit [twit]="twit"></app-twit>
      </div>
      </div>
      <div class="see-more">
        <button class="button see-more" *ngIf="showButtonSeeMore" (click)="seeMore()">See more</button>
      </div>
    </div>
    <footer>
      <p>
        In My Opinion<br>
        Created by Andrei Zelikov, 6 form, 2 course<br>
        e-mail: andreyzelikay@gmail.com<br>
      </p>
    </footer>
  </body>
</html>
