<img class="user-icon" src="{{twit.owner.userPhoto.url}}">
<div class="content">
  <p class="date">{{twit.date | date}}</p>
  <p class="text">{{twit.body}}</p>
  <p class="name">{{twit.owner.name}}</p>
  <p class="tags">{{tagString}}</p>
  <div class="feedback" *ngIf="showFeedBack">
    <button class="feedback-button"><i class="material-icons">arrow_upward</i></button>
    <p class="feedback-counter">{{twit.likes}}</p>
    <button class="feedback-button"><i class="material-icons">arrow_downward</i></button>
    <p class="feedback-counter">{{twit.dislikes}}</p>
    <button class="feedback-button" (click)="onCommentsClick()"><i class="material-icons"> forum </i></button>
  </div>
</div>
<div *ngIf="showComments" class="comments">
  <div *ngFor="let comment of twit.comments">
    <app-comment class="comment" [comment]="comment"></app-comment>
  </div>
  <app-create-comment class="comment" [twit]="twit" [userName]="currentUserName" (event)="postComment($event)"></app-create-comment>
</div>
